/* CSS Global */
body {
    font-family:'Times New Roman', Times, serif, sans-serif;
  }

    /*home.html*/
    .colorBackground {
    background-color: #131414;    
    }

    .titleWhiteStyle {
        font-family: "Roboto", sans-serif;
        color: white;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 0.2em;
        text-shadow: 0 0 5px #fff;
    }

    .colortitle{

    }
        /*Carousel*/
        .c-item {
            height: 700px;
        }
        .c-img {
            height: 100%;
            object-fit: cover;
            filter: brightness(0.8);
        }

        .radiusCarrosel {
            border: 10px solid rgb(0, 0, 0);
            border-radius: 200px;
        }
        /*Redes de contato*/
        #radiusMenuSocial {
            border-radius: 20px;
        }

    /*sobremim.html*/

    .fotoPerfil{
        object-fit:fill;
        border: 2px solid rgb(56, 79, 85);
        border-radius: 20px;
        padding: auto;
    }
    .radiusApresentacao {
        border: 2px solid rgb(56, 79, 85);
        padding: 1px;
        border-radius: 20px;
    }

    .radiusTecnologias {
        border: 2px solid rgb(56, 79, 85);
        padding: 1px;
        border-radius: 20px;
    }

    .radiusProjetos {
        border: 2px solid rgb(56, 79, 85);
        padding: 1px;
        border-radius: 20px;
    }

    .colorBackground {
        background-color: #131414;    
        }
    

    