<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<head th:replace="head/mainHead.html :: main_head">
    <title>Editar Usuario</title>
</head>

<body class="bg-dark">
<header th:replace="headers/mainHeader.html :: main_header"></header>

    
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 justify-content-center">
                <h1 class="text-center link-light">Formulário de Edição</h1>

                <div class="card-body">

                    <form th:action="@{/home/usuarios/{id}(id=${usuario.id})}" th:object="${usuario}" method="POST" class=" container container-fluid text-success border border-success py-2  mt-3">

                        
                            <div class="form-group">
                                <label class="label">Nome:</label>
                                <input class=" mt-2 form-control" name="nome" th:field="*{nome}" required type="text" placeholder="Digite o seu nome completo">
                            </div>    
                            
                            
                            <div class="form-group">
                                <label class="label">Apelido:</label>
                                <input class=" mt-2 form-control" name="apelido" th:field="*{apelido}"  required type="text" placeholder="Digite o seu apelido">
                            </div> 
                            
                            
                            <div class="form-group">
                                <label class="label">E-mail:</label>
                                <input class=" mt-2 form-control" name="email" th:field="*{email}" required type="email" placeholder="Digite o seu e-mail">
                            </div> 
                            
                            
                            <button class=" mt-2 btn btn-outline-success">Alterar Dados</button>
                        
                        
                    </form>

                </div>
            </div>
        </div>


    </div>




</body>

</html>