<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<head th:replace="head/mainHead.html :: main_head"></head>
<body class="bg-dark">

<header th:replace="headers/mainHeader.html :: main_header"></header>

<div class="container text-bg-light text text-success ">
    <div class="row">
        <div class="col-10 text-center">
            <h1>Sobre mim título</h1>
            <p>Sobre mim texto</p>
        </div>
        <div class="col-2">
            <img th:src="@{/images/sobreMim/imagemDePerfil.jpeg}" width="200px" height="200px" alt="imagemDePerfil">
        </div>
    </div>
</div>


<div class="container-fluid text-light">
    <div class="row">
        <div class="col text-center">
            <h1>Tecnologias de Estudo</h1>
        </div>
    </div>
</div>  


<div class="container-fluid text-light">
    <div class="row">
        <div class="col text-center">
            <h1>adasdas</h1>
        </div>
        <div class="col text-center">
            <h1>adasdas</h1>
        </div>
        <div class="col text-center">
            <h1>adasdas</h1>
        </div>
    </div>

    <div class="row">
        <div class="col text-center">
            <h1>adasdas</h1>
        </div>
        <div class="col text-center">
            <h1>adasdas</h1>
        </div>
        <div class="col text-center">
            <h1>adasdas</h1>
        </div>
    </div>

    <div class="row">
        <div class="col text-center">
            <h1>adasdas</h1>
        </div>
        <div class="col text-center">
            <h1>adasdas</h1>
        </div>
        <div class="col text-center">
            <h1>adasdas</h1>
        </div>
    </div>

    <div class="row">
        <div class="col text-center">
            <h1>adasdas</h1>
        </div>
        <div class="col text-center">
            <h1>adasdas</h1>
        </div>
        <div class="col text-center">
            <h1>adasdas</h1>
        </div>
    </div>
</div>  

<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="text-center mt-5">Projetos</h1>
            </h1>
        </div>
    </div>

    <div class="row">
        <div class="col text-center">
            <h1>adasdas</h1>
        </div>
        <div class="col text-center">
            <h1>adasdas</h1>
        </div>
        <div class="col text-center">
            <h1>adasdas</h1>
        </div>
    </div>

    <div class="row">
        <div class="col text-center">
            <h1>adasdas</h1>
        </div>
        <div class="col text-center">
            <h1>adasdas</h1>
        </div>
        <div class="col text-center">
            <h1>adasdas</h1>
        </div>
    </div>

    


</div>

</body>
</html>