<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
  <head th:insert="~{head/mainHead.html :: main_head}"></head>
<body class="bg-dark">

<!-- Thymeleaf headers : mainHeader.html--> <header th:insert="~{headers/mainHeader.html :: main_header}"></header>

<!-- Apresentação -->
  <div class="container text-bg-light text-white radiusApresentacao bg-success bg-opacity-25 p-3">
      
      <div class="row flex">
          <div class=" col-lg-12">
              <h1 class="text-center" style="font-style: italic;">Ola, seja bem-vindo(a)!</h1>
              <!-- Tag align descontinuada -->
              <p class="p-1  text-center">
                  Me chamo André e é um prazer recebe-lo em meu primeiro site desenvolvido. Como estudante de sistemas de informação e apaixonado pela área de tecnologia e gestão de projetos, estou em busca de uma oportundiade de estágio, sou determinado a ampliar meus conhecimentos com foco na criação de projetos inovadores que agreguem valor ao ambiente profissional. 
                  Crio projetos e estudo constantemente com o intuito de adquirir conhecimentos a partir do desenvolvimento de projetos em aplicações Web e mobile.
              </p>
              <p class="p-1  text-center">
                Me coloco à disposição em meus contatos abaixo para esclarecer demais dúvidas:
              </p>
              <!-- Thymeleaf contatos : contatos.html--> <div th:insert="~{contatos/contatos.html :: contatos}"></div>
          </div>
      </div>
  </div>

<!-- Conhecimentos -->
  <div class="container text-white text-center radiusTecnologias mt-3 bg-black bg-opacity-50 p-3">
      <h1 class="text-center m-4" style="font-style: italic;">Conhecimentos</h1>
      
      <div class="row">
          <div class="col-lg-4">
            <object data="/images/sobreMim/tecnologias/java.svg" type="image/svg+xml" alt="icon_imagem_java"></object>
            <h4 class="fw-normal">Java</h4>
            <p>Linguagem de programação Orientada a Objetos.</p>
            <p><a class="btn btn-secondary" href="https://dev.java/learn/" target="_blank">Ver documentação »</a></p>
          </div>
          <div class="col-lg-4">
            <object data="/images/sobreMim/tecnologias/springboot.svg" type="image/svg+xml" alt="icon_imagem_springboot"></object>
          <h4 class="fw-normal">Springboot</h4>
          <p>Framework Java que auxilia no processo produtivo sistêmico com ampla gama de recursos e flexibildiade.</p>
          <p><a class="btn btn-secondary" href="https://spring.io/" target="_blank">Ver documentação »</a></p>
          </div>
          <div class="col-lg-4">
            <object data="/images/sobreMim/tecnologias/android.svg" type="image/svg+xml" alt="icon_imagem_java"></object>
          <h4 class="fw-normal">Android Studio</h4>
          <p>Ambiente de desenvolvimento integrado em plataforma android para a construção de aplciativos.</p>
          <p><a class="btn btn-secondary" href="https://developer.android.com/docs?hl=pt-br" target="_blank">Ver documentação »</a></p>
          </div>
      </div>
      
      <div class="row">
        <div class="col-lg-4">
          <object data="/images/sobreMim/tecnologias/php.svg" type="image/svg+xml" alt="icon_imagem_php"></object>
          <h4 class="fw-normal">PHP</h4>
          <p>Linguagem de programação Orientada a Objetos.</p>
          <p><a class="btn btn-secondary" href="https://www.php.net/docs.php" target="_blank">Ver documentação »</a></p>
        </div>
        <div class="col-lg-4">
          <object data="/images/sobreMim/tecnologias/thymeleaf.svg" type="image/svg+xml" alt="icon_imagem_thymeleaf"></object>
        <h4 class="fw-normal">Thymeleaf</h4>
        <p>Template engine para projetos Java que facilita a criação de páginas HTML.</p>
        <p><a class="btn btn-secondary" href="https://www.thymeleaf.org/documentation.html" target="_blank">Ver documentação »</a></p>
        </div>
        <div class="col-lg-4">
          <object data="/images/sobreMim/tecnologias/hostinger.svg" type="image/svg+xml" alt="icon_imagem_hostinger"></object>
        <h4 class="fw-normal">Hostinger / Railway</h4>
        <p>Plataforma de serviço de hospedagem de sites e armazenamento em nuvem.</p>
        <p><a class="btn btn-secondary" href="https://www.hostinger.com.br/hospedagem-de-sites" target="_blank">Ver documentação »</a></p>
        </div>
      </div> 

      <div class="row ">
        <div class="col-lg-4">
          <object data="/images/sobreMim/tecnologias/mysql.svg" type="image/svg+xml" alt="icon_imagem_java"></object>
        <h2 class="fw-normal">Mysql</h2>
        <p>Sistema de Gerenciamento de Banco de Dados (SGBD).</p>
        <p><a class="btn btn-secondary mt-3" href="https://dev.mysql.com/doc/" target="_blank">Ver documentação »</a></p>
        </div>
        <div class="col-lg-4" style="align-self: baseline;">
          <object data="/images/sobreMim/tecnologias/git.svg" type="image/svg+xml" alt="icon_imagem_java"></object>
        <h2 class="fw-normal">Git</h2>
        <p>Sistema de controle de versões distribuído.</p>
        <p><a class="btn btn-secondary" href="https://git-scm.com/doc" target="_blank">Ver documentação »</a></p>
        </div>
        <div class="col-lg-4">
          <object data="/images/sobreMim/tecnologias/docker.svg" type="image/svg+xml" alt="icon_imagem_java"></object>
        <h2 class="fw-normal">Docker</h2>
        <p>Conjunto de produtos de plataforma que usam virtualização de nível de sistema operacional para entregar software em containers.</p>
        <p><a class="btn btn-secondary" href="https://docs.docker.com/" target="_blank">Ver documentação »</a></p>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-4">
          <object data="/images/sobreMim/tecnologias/bootstrap.svg" type="image/svg+xml" alt="icon_imagem_java"></object>
          <h2 class="fw-normal">Bootstrap</h2>
          <p>Framework web que auxilia no desenvolvimento de interfaces que melhoram a experiência do usuário.</p>
          <p><a class="btn btn-secondary" href="https://getbootstrap.com/docs/5.3/getting-started/introduction/" target="_blank">Ver documentação »</a></p>
        </div>
        <div class="col-lg-4 ">
          <object data="/images/sobreMim/tecnologias/html.svg" type="image/svg+xml" alt="icon_imagem_java"></object>
          <h2 class="fw-normal">HTML 5</h2>
          <p>Linguagem de Marcação de Hipertexto.</p>
          <p><a class="btn btn-secondary mt-3" href="https://www.w3schools.com/html/" target="_blank">Ver documentação »</a></p>
        </div>
        <div class="col-lg-4">
          <object data="/images/sobreMim/tecnologias/css.svg" type="image/svg+xml" alt="icon_imagem_java"></object>
        <h2 class="fw-normal">CSS 3</h2>
        <p>Mecanismo de estilização utilizado para personalizar conteúdos de páginas web.</p>
        <p><a class="btn btn-secondary" href="https://www.w3schools.com/css/" target="_blank">Ver documentação »</a></p>
        </div>
      </div>



      
  </div>

<!-- Alguns dos projetos Realizados -->
  <div class="container text-light radiusProjetos bg-black bg-opacity-50 mt-3 p-3" id="projetos">
      <h1 class="text-center m-3" style="font-style: italic;">Alguns dos projetos Realizados</h1>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 text-black">
        
          <div class="col">
          <div class="card shadow-sm h-100">
              <object data="/images/sobreMim/projetos/projeto-web-php-amazon.png" alt="imagem_projetoWeb"></object>
            <div class="card-body bg-primary bg-opacity-50">
              <p class="card-text">Desenvolvimento de página WEB responsiva com validação de login e senha utilizando PHP, HTML,CSS, MYSQL, entre outras.</p>
              <div class="d-grid gap-2 d-md-flex justify-content-center">
                <div class="btn-group gap-1">
                  <a href="https://youtu.be/ibNJPHdG5pk" target="_blank"><button type="button" class="btn btn-lg btn-outline-dark">Visualizar Projeto</button></a>
                  <a href="https://github.com/andrelmf/web-login-amazon-php/tree/master" target="_blank"> 
                    <button type="button" class="btn btn-lg btn-outline-dark"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                      <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
                    </svg> Github</button>
                  </a>
                </div>
              </div>
            </div>
          </div>
          </div>
          <div class="col">
            <div class="card shadow-sm h-100">
              <object data="/images/sobreMim/projetos/crud-java-Spring.png" alt="imagem_projetoSpringWeb"></object>
              <div class="card-body bg-primary bg-opacity-50">
                <p class="card-text">Primeiro projeto WEB JAVA com integração de api's e deploy no railway, projeto vìnculado a este site com utilização de: JAVA, SPRINGBOOT, BOOTSTRAP5, entre outras.</p>
                <div class="d-grid gap-2 d-md-flex justify-content-center ">
                  <div class="btn-group gap-1">
                    <a th:href="@{/usuarios}" target="_blank"><button type="button" class="btn btn-lg btn-outline-dark">Visualizar Projeto</button></a>
                    <a href="https://github.com/andrelmf/myDashBoard" target="_blank"> 
                      <button type="button" class="btn btn-lg btn-outline-dark"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                        <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
                      </svg> Github</button>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm h-100">
              <object data="/images/sobreMim/projetos/calculadora-android.png" alt="imagem_calculadoraAndroid"></object>
              <div class="card-body bg-primary bg-opacity-50">
                <p class="card-text">Primeiro projeto Android simples com a utilização de JAVA, IDE ANDROID STUDIO, entre outras tecnologias.</p>
                <div class="d-grid gap-2 d-md-flex justify-content-center">
                  <div class="btn-group gap-1">
                    <a href="https://github.com/andrelmf/projeto_android_calculator" target="_blank"> 
                      <button type="button" class="btn btn-lg btn-outline-dark"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                        <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
                      </svg> Github</button>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          
        </div>
  </div>

<!-- Projetos em andamento e a elaborar -->
  <div class="container text-light radiusProjetos bg-black bg-opacity-50 mt-3 p-3" id="projetos">
    <h1 class="text-center m-3" style="font-style: italic;">Projetos em andamento e a elaborar</h1>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 text-black">
        <div class="col">
          <div class="card shadow-sm h-100">
            <img src="/images/sobreMim/projetos/projeto-site-podcast.png" alt="imagem_projetos_em_andamento">
            <div class="card-body bg-primary bg-opacity-50">
              <p class="card-text">Site em processo de desenvolvimento. Plataforma de poscasts desenvolvido com JAVA, SPRINGBOOT, BOOTSTRAP, MYSQL, entre outras tecnologias.</p>
              <div class="d-grid gap-2 d-md-flex justify-content-center">
                <div class="btn-group gap-1">
                  <a target="_blank"><button type="button" class="btn btn-lg btn-outline-dark">Visualização indisponível no momento</button></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm h-100">
            <img src="/images/sobreMim/projetos/gerenciador-de-tarefas-trello.png" alt="imagem_projetos_em_andamento">
            <div class="card-body bg-primary bg-opacity-50">
              <p class="card-text">Desenvolvimento de um gerenciador de tarefas dinâmico baseado no trello com a utilização de tecnologias como: JAVA, SPRINGBOOT, MYSQL, HTML, CSS E DOCKER.</p>
              <div class="d-grid gap-2 d-md-flex justify-content-center">
                <div class="btn-group gap-1">
                  <a target="_blank"><button type="button" class="btn btn-lg btn-outline-dark">Visualização indisponível no momento</button></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm h-100">
            <img src="https://images.unsplash.com/photo-1581291518857-4e27b48ff24e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="imagem_projetos_em_andamento">
            <div class="card-body bg-primary bg-opacity-50 ">
              <p class="card-text">Desenvolvimento de um aplicativo baseado em uma ideia inovadora relacionada à gestão de tarefas utilizações: JAVA/KOTLIN, ANDROID STUDIO, SQLITE, entre outras.</p>
              <div class="d-grid gap-2 d-md-flex justify-content-center">
                <div class="btn-group gap-1">
                  <a target="_blank"><button type="button" class="btn btn-lg btn-outline-dark">Visualização indisponível no momento</button></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>

</body>
</html>