<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<!-- <html lang="pt-br"> -->

<head th:replace="home :: headHome">
    <title>Listar Usuários</title>
</head>

<body class="bg-dark">
    <header th:replace="home :: headerHome">
    </header>
    
    <div class="container mt-2 col border border-primary fst-italic">
        <h1 class="text-center link-light">Lista de Usuários</h1>
            <table class="table text-center link-light border border-success">
                <thead class="table-dark">
                    <tr>
                        <th class="col">Nome</th>
                        <th class="col">Apelido</th>
                        <th class="col">Email</th>
                        <th><a th:href="@{/home/usuarios/cadastrarUsuario}"><button class="btn btn-outline-primary text-center col p-2 w-100">Cadastrar</button></a></th>
                        
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="usuario: ${usuarios}">
                        <td th:text="${usuario.nome}">André Luiz Martins Ferreira</td>
                        <td th:text="${usuario.apelido} ">23r2323d3232431231231231232423423</td>
                        <td th:text="${usuario.email} ">andrelmf961@gmail.com</td>
                        <td>
                            <a th:href="@{/home/usuarios/editar/{id}(id=${usuario.id})}" class="btn btn-outline-warning w-50">Alterar</a><a th:href="@{/home/usuarios/{id}(id=${usuario.id})}" class="btn btn-outline-danger w-50">Excluir</a>
                        </td>
                    </tr>
                    
                </tbody>
            </table>
    </div>
    </div>
    </div>

</body>

</html>