<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<head th:replace="head/mainHead.html :: main_head">
</head>

<body class="colorBackground text-light">

<header th:replace="headers/mainHeader.html :: main_header"></header>


        <div class="container">
            <div class="row text-center">
                <h1>Lista de Usuários</h1>
            </div>

            <table id="example" class="table table-striped text-white border border-success p-3" style="width:100%">
                    <thead class="text-white">
                        <tr>
                            <th>Nome</th>
                            <th>Apelido</th>
                            <th>Email</th>
                            <th><a th:href="@{/home/usuarios/cadastrarUsuario}" class="btn btn-outline-primary btn-sm w-100">Cadastrar</a>
                            </th>
    
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="usuario: ${usuarios}">
                            <td th:text="${usuario.nome}" class="text-white">André Luiz Martins Ferreira</td>
                            <td th:text="${usuario.apelido}" class="text-white-50">23r2323d3232431231231231232423423</td>
                            <td th:text="${usuario.email}" class="text-white-50">andrelmf961@gmail.com</td>
                            <td class="text-white-50">
                                <a th:href="@{/home/usuarios/editar/{id}(id=${usuario.id})}"
                                    class="btn btn-outline-warning btn-sm w-50">Alterar</a><a
                                    th:href="@{/home/usuarios/{id}(id=${usuario.id})}"
                                    class="btn btn-outline-danger btn-sm w-50 fs-6">Excluir</a>
                            </td>
                        </tr>
                    </tbody>
            </table>
        </div>
</body>

</html>